<%= javascript_include_tag 'dfp_control.js' %>

<div class="devicefingerprinting_main">

  <h1>このページを利用する際の注意点</h1>
  <div class="devicefingerprinting_text">
    このページでは、あなたがアクセスしている端末やWebブラウザの情報を読み取ります。
    読み取った情報と、DeviceFingerに変換した情報を、Webブラウザ上に表示するというものです。
    注意点および利用条件を読み、同意の上で、ご利用ください。
    なお同意いただけない方は、
    <%= link_to  "こちら", root_path, class:"devicefingerprinting_link" %>
    からWord Experienceへお戻りください。
  </div>

  <h1>利用条件について</h1>
  <div class="devicefingerprinting_text">
    <li>収集した情報は、Device Finger Printingの値を生成することにのみに使用します。</li>
    <li>なお生成するにあたり、外部APIを利用するため、第三者に情報が提供されます。</li>
    <li>ユーザーのプライバシーを保護するため、HTTPSのプロトコルを利用し、セキュリティを保護しています。</li>
    <li>なお本サイトではHTTPでの利用も可能であるため、通信プロトコルがHTTPSになっていることをユーザー自身で確認してください。</li>
    <li>この機能を使用するためにはユーザーの同意が必要となります。</li>
  </div>

  <div class="devicefingerprinting_understood">
    <%= check_box_tag :understood_check_box %>
    <%= label_tag :understood_check_box, "上記、注意点、利用条件を確認し、同意します。" %>
  </div>

  <div class="devicefingerprinting_sub_main" id="sub_main">
    <h1>Device Finger Printingとは</h1>
    <div class="devicefingerprinting_text">
      Device Finger Printingは、Webブラウザなどのデバイスに関する情報を収集し、それを使用してユーザーやデバイス端末を推定する技術です。
      収集する情報には、ブラウザの種類、オペレーティングシステム、画面解像度、プラグイン、フォントなどを含みます。
      これら情報を利用することで、Webサイトまたはアプリケーションがアクセスしているユーザーを特定することができ、ユーザーに応じて、カスタマイズされたエクスペリエンスを提供することができます。
      次のGitHubを利用させていただいています。
      <%= link_to  "https://github.com/fingerprintjs/fingerprintjs", "https://github.com/fingerprintjs/fingerprintjs" %>
    </div>

    <h1>このページは何をするページなの？</h1>
    <div class="devicefingerprinting_text">
      このページは、DeviceFingerPrintingの技術を利用するにあたり、技術的検証(POC)を想定して作成したWebページになります。
      DeviceFingerPrintingを利用してアプリを開発したい、システムを組みたい、という方はこのWebページをもとに技術的検証を行うことができます。
    </div>

    <h1>Device Finger Printingはどのようなことに応用できるのか？</h1>
    <div class="devicefingerprinting_text">
      <li>ユーザー認証</li>
      Webサイトやアプリケーション上で、ユーザー（端末・ブラウザ）を識別でき、認証に応用することができます。
      <li>ターゲティング広告</li>
      Webサイトやアプリケーション上で、ユーザーに向けたターゲット広告に応用することができます。
      <li>分析</li>
      Webサイトやアプリケーション上でのユーザーの行動パターンを分析し、それに基づいたアクションを起こすことに寄与できます。
    </div>

    <h1>以下のボタンをクリックすることで情報を取得することができます</h1>
    <%= link_to  "取得する", root_path, class:"devicefingerprinting_button" %>
  </div>
</div>