<%= javascript_include_tag 'typing.js' %>
<div class="typing_main">
  <div class="typing_timerBox">
    <div class="typing_timer" id="passedTimer">経過時間：0秒</div>
    <div class="typing_timer" id="limitTimer">残り 90秒</div>
  </div>
  <div class="typing_typeBox">
    <div class="typing_Display" id="typeDisplay">
      ゲームを開始すると、ここに英語の文章が表示されます。
      日本語入力を行った場合、動作が保証できません。
      IMEが必ず半角英数になっていることを確認してください。
    </div>
    <%=text_area_tag "typeInput",
      nil,
      class: "typing_TypeInput",
      readonly: true,
      onpaste: "return false;",
      oncut: "return false;",
      oncopy: "return false;",
      ondrag: "return false;",
      ondrop: "return false;"
    %>
  </div>
  <div class="typing_buttonBox">
    <%= button_tag "開始する", id: "startButton", class: "typing_button", autofocus: true %>
    <%= button_tag "リタイアする", id: "retireButton", class: "typing_button", disabled: true %>
  </div>
  <div class="typing_option_box">
    <div class="typing_option_title">サウンドの調整</div>
    <div class="typing_option_sound">
      <div class="typing_sound_content">
        <%= label_tag :bgm_sound, "BGM", class: "typing_label" %>
        <%= range_field_tag :bgm_sound, 1, in: 0..1, step: 0.1, id: "bgm_volume_slider", class: "typing_volume" %>
        <%= check_box_tag :bgm_sound, true, class: "typing_check_box" %>
      </div>
      <div class="typing_sound_content">
        <%= label_tag :typing_sound, "タイピング音", class: "typing_label" %>
        <%= range_field_tag :typing_sound, 1, in: 0..1, step: 0.1, id: "typing_volume_slider", class: "typing_volume" %>
        <%= check_box_tag :typing_sound, true, class: "typing_check_box" %>
      </div>
      <div class="typing_sound_content">
        <%= label_tag :typing_miss_sound, "タイピングミス", class: "typing_label" %>
        <%= range_field_tag :typing_miss_sound, 1, in: 0..1, step: 0.1, id: "miss_volume_slider", class: "typing_volume" %>
        <%= check_box_tag :typing_miss_sound, true, class: "typing_check_box" %>
      </div>
      <div class="typing_sound_content">
        <%= label_tag :clear_sound, "正解音", class: "typing_label" %>
        <%= range_field_tag :clear_sound, 1, in: 0..1, step: 0.1, id: "clear_volume_slider", class: "typing_volume" %>
        <%= check_box_tag :clear_sound, true, class: "typing_check_box" %>
      </div>
      <div class="typing_sound_content">
        <%= label_tag :recovery_sound, "回復音", class: "typing_label" %>
        <%= range_field_tag :recovery_sound, 1, in: 0..1, step: 0.1, id: "recovery_volume_slider", class: "typing_volume" %>
        <%= check_box_tag :recovery_sound, true, class: "typing_check_box" %>
      </div>
      <div class="typing_sound_content">
        <%= label_tag :game_over_sound, "ゲームオーバー", class: "typing_label" %>
        <%= range_field_tag :game_over_sound, 1, in: 0..1, step: 0.1, id: "game_over_volume_slider", class: "typing_volume" %>
        <%= check_box_tag :game_over_sound, true, class: "typing_check_box" %>
      </div>
    </div>
  </div>
  <div class="typing_warning">
    <div class="typing_warning-title">
      【操作方法】
    </div>
    <div class="typing_warning-description">
      <li>
        「開始する」ボタンを押すと、タイピングゲームが始まります。
      </li>
      <li>
        ゲームが始まると、テキスト上に英語表記の文章が表示されます。
      </li>
      <li>
        その文章を英語入力でタイピングしてください。
      </li>
      <li>
        制限時間内にタイピングができれば、ゲームクリアとなり、制限時間内に終わらなければ、ゲームオーバーとなります。
      </li>
      <li>
        入力に成功した場合、文字が緑色に変化し、タイプミスをした場合、赤色に変化します。
      </li>
      <li>
        タイプミスをした場合、残り時間が2秒減ってしまいます。
      </li>
      <li>
        文字を連続して入力できた場合、残り時間が2秒増え、攻略しやすくなります。
      </li>
      <li>
        ゲームの途中で「リタイアする」ボタンを押すと、ゲームをリタイアすることができ、もう一度、最初から挑戦することができます。
      </li>
    </div>

    <div class="typing_warning-title">
      【注意事項】
    </div>

    <div class="typing_warning-description">
      <li>
        タイピングゲームを行う場合は、ブラウザ上のJavaScriptを有効化してください。
      </li>
      <li>
        ゲームを開始すると、BGMなどの音が流れます。音量にはご注意ください。
      </li>
      <li>
        ゲームを行う場合は、必ずIMEが半角英数となっていることを確認してください。
      </li>
      <li>
        日本語を入力したり、入力した英語を日本語に変換するなどした場合、動作が不安定になるため、ゲームの正常な動作・挙動が保証できません。
      </li>
      <li>
        このゲームは、PCを利用して、"Google Chrome"のブラウザで遊ぶことを想定して、作られています。
      </li>
    </div>

    <div class="typing_warning-title">
      【その他】
    </div>

    <div class="typing_warning-description">
      <li>
        使用技術：JavaScriptを中心に、HTML, CSS, Rails, AWSを使用しています。 
      </li>
      <li>
        BGMや音源はフリー素材のものを使用しています。
      </li>

    </div>

  </div>
</div>
