<div class="header">
  <%= render "shared/header" %>
</div>

<div class="split_main">
  <div class="side-bar">
    <%= render "shared/side_bar" %>
  </div>
  <div class="main_screen">
    <h3 class="word_theme">
      <%= @nickname %>のプロフィール情報
    </h3>

    <div class="word_board">
      <div class="word_board_text">
        ・このページでは、ユーザーのニックネームや高評価率を確認できます。<br>
        ・他のユーザーも、あなたのプロフィールを閲覧することがあります。<br>
        ・評価率を気にしつつ、ワードを投稿していきましょう。
      </div>
    </div>

    <div class="profile_flame">
      <div class="profile">ニックネーム：
        <%= @nickname %>
      </div>
      <div class="profile">高評価の総数：
        <%= @good_reputation_total %>
      </div>
      <div class="profile">低評価の総数：
        <%= @bad_reputation_total %>
      </div>
      <div class="profile">高評価率：
        <%= @rate %>
        %
      </div>
    </div>

  </div>
</div>