<div class="header">
  <%= render "shared/header" %>
</div>

<div class="split_main">
  <div class="side-bar">
    <%= render "shared/side_bar" %>
  </div>
  <div class="main_screen">
    <h3 class="word_theme">
      <%= @nickname %>のプロフィール情報
    </h3>

    <div class="word_board">
      <div class="word_board_text">
        ・このページでは、ユーザーが投稿したワードの数や高評価率といったアクティブな情報を確認できます。<br>
        ・他のユーザーも、あなたのプロフィールを閲覧することがあります。<br>
        ・そのためアクティブな情報を意識しつつ、アプリを活用していきましょう。
      </div>
    </div>

    <div class="profile_flame">
      <div class="profile_block">
        <div class="profile">ニックネーム：
          <%= @nickname %>
        </div>
      </div>

      <div class="profile_block">
        <div class="profile">投稿したワード数：
          <%= @word_count %>
        </div>
        <div class="profile">交換したワード数：
          <%= @exchanged_word_count %>
        </div>
      </div>

      <div class="profile_block">
        <% if @login_users_profile %>
          <div class="profile">高評価された数：
            <%= @good_reputation_count %>
          </div>
          <div class="profile">低評価された数：
            <%= @bad_reputation_count %>
          </div>
        <% end %>
        <div class="profile">高評価率：
          <%= @rate %>
          %
        </div>
      </div>

      <div class="profile_block">
        <% if @login_users_profile %>
          <div class="profile">高評価した回数：
            <%= @good_reputation_count_by_myself %>
          </div>
          <div class="profile">低評価した回数：
            <%= @bad_reputation_count_by_myself %>
          </div>
        <% end %>
        <div class="profile">評価率：
          <%= @count_rate %>
          %
        </div>
      </div>

    </div>
  </div>
</div>