<%= javascript_include_tag 'copy_clipboard.js' %>
<div class="header">
  <%= render "shared/header" %>
</div>

<div class="split_main">
  <div class="side-bar">
    <%= render "shared/side_bar" %>
  </div>
  <div class="main_screen">
    <h3 class="word_theme">
      "交換済ワード"一覧
    </h3>

    <div class="word_board">
      <div class="word_board_text">
        【ワードの利用方法】
        <br>
        ①ワードをコピーしましょう。
        <br>
        ②GoogleやYouTubeなどのサービスで検索し、新たな体験を得ましょう。
        <br>
        ③そのワードを評価し、フィードバックを返しましょう。(⭐️か❌を押しましょう)
        <br>
        ・ワードをクリックすると、クリップボードにワードがコピーされます。
        <br>
        　※HTTPSの通信ではない場合、コピー時にエラーが発生します。
      </div>
    </div>

    <div class="alert_message">
      <%= flash[:alert] %>
    </div>

    <%= form_with local: true do |form| %>
      <% @exchanged_words.each do |exchanged_word| %>
        <div class="word_list">
          <div class="reputation">
            <% if exchanged_word.reputations.count == 0 %>
              <div class="reputation_star">
            <% elsif exchanged_word.reputations[0].star_flag %>
              <div class="word_reputation_star">
            <% else %>
              <div class="reputation_star">
            <% end %>
                ★
              </div>
            <%= link_to  "", 
                user_exchanged_word_good_reputations_path(current_user.id,exchanged_word.id),
                {modele: @good_reputation, method: :post, class:"reputation_link_star"} %>
            <div class="reputation_star_counter">
              <%= exchanged_word.word.reputations.where(star_flag: true).count %>
            </div>
          </div>
          <div class="reputation">
            <% if exchanged_word.reputations.count == 0 %>
              <div class="word_reputation_bad">
            <% elsif exchanged_word.reputations[0].bad_flag %>
              <div class="reputation_bad">
            <% else %>
              <div class="word_reputation_bad">
            <% end %>
                ×
              </div>
            <%= link_to  "",
                user_exchanged_word_bad_reputations_path(current_user.id,exchanged_word.id),
                {modele: @bad_reputation, method: :post, class:"reputation_link_bad"} %>
          </div>
          <%= form.text_field :name, readonly: true, size: 30, value: exchanged_word.word.name, class: "word_name" %>
          <%= form.text_field :main_category_id, readonly: true, disabled: true, size: 15, value: @main_category.find(exchanged_word.word.main_category_id).name, class: "word_category" %>
          <%= form.text_field :service_category_id, readonly: true, disabled: true, size: 15, value: @service_category.find(exchanged_word.word.service_category_id).name, class: "word_category" %>
          <%= link_to '詳細', user_exchanged_word_path(current_user.id,exchanged_word.id), class: "word_button_edit" %>
          <%= link_to exchanged_word.word.user.nickname, user_profiles_path(exchanged_word.word.user_id), class:"user_profile_link" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>