<div class="header">
  <%= render "shared/header" %>
</div>

<div class="split_main">
  <div class="side-bar">
    <%= render "shared/side_bar" %>
  </div>
  <div class="main_screen">
    <h3 class="word_theme">
      "交換済ワード"一覧
    </h3>
    <%= form_with class: "word_list", local: true do |form| %>
      <% @exchanged_words.each do |word| %>
        <hr size="1" width="98%" noshade="">
        <%= form.text_field :name, readonly: true, size: 30, value: "交換済ワード", class: "word_name" %>
        <%= form.text_field :main_category_id, readonly: true, disabled: true, size: 15, value: @main_category.find(word.main_category_id).name, class: "word_category" %>
        <%= form.text_field :service_category_id, readonly: true, disabled: true, size: 15, value: @service_category.find(word.service_category_id).name, class: "word_category" %>
        <%= link_to '詳細', "#", class: "word_button_edit" %>
        <br>
      <% end %>
      <hr size="1" width="98%" noshade="">
    <% end %>
  </div>
</div>