<div class="header">
  <%= render "shared/header" %>
</div>

<div class="split_main">
  <div class="side-bar">
    <%= render "shared/side_bar" %>
  </div>
  <div class="main_screen">
    <h3 class="word_theme">
      "交換済ワード"一覧
    </h3>

    <div class="word_board">
      <div class="word_board_text">
        ・ワードをクリックすると、クリップボードにワードがコピーされます。
        <br>
        　※HTTPSの通信ではないので、コピー時にエラーが発生します。
      </div>
    </div>

    <%= form_with local: true do |form| %>
      <% @exchanged_words.each do |exchanged_word| %>
        <hr size="1" width="98%" noshade="">
        <div class="word_list">
          <div class="reputation">
            <% if exchanged_word.good_reputations.count == 0 %>
              <div class="reputation_star">
            <% elsif exchanged_word.good_reputations[0].star_flag %>
              <div class="word_reputation_star">
            <% else %>
              <div class="reputation_star">
            <% end %>
                ★
              </div>
            <div class="reputation_counter">
              <%= exchanged_word.word.good_reputations.where(star_flag: true).count %>
            </div>
            <%= link_to  "", user_exchanged_word_good_reputations_path(current_user.id,exchanged_word.id),{modele: @good_reputation, method: :post, class:"reputation_link"} %>
          </div>
          <%= form.text_field :name, readonly: true, size: 30, value: exchanged_word.word.name, class: "word_name" %>
          <%= form.text_field :main_category_id, readonly: true, disabled: true, size: 15, value: @main_category.find(exchanged_word.word.main_category_id).name, class: "word_category" %>
          <%= form.text_field :service_category_id, readonly: true, disabled: true, size: 15, value: @service_category.find(exchanged_word.word.service_category_id).name, class: "word_category" %>
          <%= link_to '詳細', user_exchanged_word_path(current_user.id,exchanged_word.id), class: "word_button_edit" %>
        </div>
      <% end %>
      <hr size="1" width="98%" noshade="">
    <% end %>
  </div>
</div>