<%= javascript_include_tag 'copy_clipboard.js' %>
<input id="header_display" type="checkbox" class="header_check_box">
<label for="header_display" class="header_open">▲</label>
<label for="header_display" class="header_back"></label>
<label for="sidebar_display" class="sidebar_open">◀︎</label>
<div class="header">
  <%= render "shared/header" %>
</div>

<div class="split_main">
  <input id="sidebar_display" type="checkbox" class="sidebar_check_box">
  <label for="sidebar_display" class="sidebar_back"></label>
  <div class="sidebar">
    <%= render "shared/side_bar" %>
  </div>
  <div class="main_screen">
    <h3 class="word_theme">
      "交換済ワード"一覧
    </h3>

    <div class="word_board">
      <div class="word_board_text">
        【ワードの利用方法】
        <br>
        ①ワードをクリックし、コピーしましょう。
        <br>
        ②サービスカテゴリをクリックし、そのサービスへアクセスしましょう。
        <br>
        ③GoogleやYouTubeなどのサービスで検索し、新たな体験を得ましょう。
        <br>
        ④そのワードを評価し、フィードバックを返しましょう。(⭐️か❌を押しましょう)
        <br>
        <br>
        【注意事項】
        <br>
        ・ワードをクリックすると、クリップボードにワードがコピーされます。
        <br>
        　※HTTPSの通信ではない場合、コピー時にエラーが発生します。
        <br>
        ・サービスカテゴリには、一部アクセスできない項目もあります。
        <br>
        　その場合は、お手数ですが、手動でご対応をお願いいたします。
      </div>
    </div>

    <div class="alert_message">
      <%= flash[:alert] %>
    </div>

    <%= form_with local: true do |form| %>
      <% @exchanged_words.each do |exchanged_word| %>
        <div class="word_list">
          <div class="reputation">
            <% if exchanged_word.reputations.count == 0 %>
              <div class="reputation_star">
            <% elsif exchanged_word.reputations[0].star_flag %>
              <div class="word_reputation_star">
            <% else %>
              <div class="reputation_star">
            <% end %>
                ★
              </div>
            <%= link_to  "", 
                user_exchanged_word_good_reputations_path(current_user.id,exchanged_word.id),
                {modele: @good_reputation, method: :post, class:"reputation_link_star"} %>
            <div class="reputation_star_counter">
              <%= exchanged_word.word.reputations.where(star_flag: true).count %>
            </div>
          </div>
          <div class="reputation">
            <% if exchanged_word.reputations.count == 0 %>
              <div class="word_reputation_bad">
            <% elsif exchanged_word.reputations[0].bad_flag %>
              <div class="reputation_bad">
            <% else %>
              <div class="word_reputation_bad">
            <% end %>
                ×
              </div>
            <%= link_to  "",
                user_exchanged_word_bad_reputations_path(current_user.id,exchanged_word.id),
                {modele: @bad_reputation, method: :post, class:"reputation_link_bad"} %>
          </div>
          <%= form.text_field :name, readonly: true, value: exchanged_word.word.name, class: "word_name" %>
          <% if @service_category.find(exchanged_word.word.service_category_id).link == true %>
            <%= link_to @service_category.find(exchanged_word.word.service_category_id).name, @service_category.find(exchanged_word.word.service_category_id).url, class: "service_category", target: :_blank, rel: "noopener noreferrer" %>
          <% else %>
            <%= link_to @service_category.find(exchanged_word.word.service_category_id).name, @service_category.find(exchanged_word.word.service_category_id).url, class: "service_category" %>
          <% end %>
          <%= link_to '詳細', user_exchanged_word_path(current_user.id,exchanged_word.id), class: "word_button_edit" %>
          <%= link_to exchanged_word.word.user.nickname, user_profiles_path(exchanged_word.word.user_id), class:"user_profile_link" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>