<div class="header">
  <%= render "shared/header" %>
</div>

<div class="split_main">
  <div class="side-bar">
    <%= render "shared/side_bar" %>
  </div>
  <div class="main_screen">
    <h3 class="word_theme">
      "ワード"交換
    </h3>

    <div class="word_board">
      <div class="word_board_text">
        ・交換ボタンを押すことで、みんなが登録したワードをランダムに交換できます。
        <br>
        ・交換には"WordPoint"が 50ポイント 必要です。
        <br>
        ・現在、エラー表示等の機能は実装できていません。ご不便をおかけいたします。
      </div>
    </div>

    <%= flash[:alert] %>

    <%= form_with class: "exchanged_word_new_box", url: user_exchanged_words_path, method: :post, local: true do |form| %>
      <%= form.submit '交換',class:"exchanged_word_new_button" %>
    <% end %>
    
  </div>
</div>