<label for="sidebar_display" class="sidebar_close">×</label>
<div class="side_bar_word_point_block">
  <div class="side_bar_word_point">
    <% if user_signed_in? %>
      Word Point：<%= @word_point %>
    <% elsif %>
      <%= @word_point %>
    <% end %>
  </div>
</div>

<div class="side_bar_block">
  <label class="side_bar_title_header">あなたの"ワード"</label>
  <div class="side_bar_contents">
    <% if user_signed_in? %>
      <%= link_to '投稿ページ', new_user_word_path(current_user.id), class: "side_bar_content" %>
      <%= link_to '投稿済のワード一覧', user_words_path(current_user.id), class: "side_bar_content" %>
    <% elsif %>
      <%= link_to '投稿ページ', user_session_path, class: "side_bar_content" %>
      <%= link_to '投稿済のワード一覧', user_session_path, class: "side_bar_content" %>
    <% end %>
  </div>
</div>

<div class="side_bar_block">
  <label class="side_bar_title_header">みんなの"ワード"</label>
  <div class="side_bar_contents">
    <% if user_signed_in? %>
      <%= link_to '交換ページ', new_user_exchanged_word_path(current_user.id), class: "side_bar_content" %>
      <%= link_to '交換済のワード一覧', user_exchanged_words_path(current_user.id), class: "side_bar_content" %>
    <% elsif %>
      <%= link_to '交換ページ', user_session_path, class: "side_bar_content" %>
      <%= link_to '交換済のワード一覧', user_session_path, class: "side_bar_content" %>
    <% end %>
  </div>
</div>

<div class="side_bar_block">
  <label class="side_bar_title_header">ユーザー情報</label>
  <div class="side_bar_contents">
    <% if user_signed_in? %>
      <%= link_to 'プロフィール', user_profiles_path(current_user.id), class: "side_bar_content" %>
      <%= link_to 'ユーザー情報編集', edit_user_registration_path, class: "side_bar_content" %>
      <%= link_to 'パスワード変更', edit_user_registration_path(anchor: "password_change"), class: "side_bar_content" %>
    <% elsif %>
      <%= link_to 'プロフィール', user_session_path, class: "side_bar_content" %>
      <%= link_to 'ユーザー情報編集', user_session_path, class: "side_bar_content" %>
      <%= link_to 'パスワード変更', user_session_path, class: "side_bar_content" %>
    <% end %>
  </div>
</div>

<div class="side_bar_block">
  <label class="side_bar_title_header">規約</label>
  <div class="side_bar_contents">
    <%= link_to '利用規約', "#", class: "side_bar_content" %>
    <%= link_to 'プライバシーポリシー', "#", class: "side_bar_content" %>
    <%= link_to '個人情報保護法', "#", class: "side_bar_content" %>
  </div>
</div>

<div class="side_bar_block">
  <label class="side_bar_title_header">その他の作品</label>
  <div class="side_bar_contents">
    <%= link_to 'ETロボコン映像', etrobocons_index_path, class: "side_bar_content" %>
    <%= link_to 'FingerPrinting', devicefingerprinting_index_path, class: "side_bar_content" %>
  </div>
</div>

<div class="side_bar_block">
  <label class="side_bar_title_header">管理人の所有物</label>
  <div class="side_bar_contents">
    <%= link_to 'Twitterアカウント', "https://twitter.com/portfoliokns3", class: "side_bar_content" %>
    <%= link_to 'Qiitaアカウント', "https://qiita.com/portfoliokns3", class: "side_bar_content" %>
    <%= link_to 'GitHubアカウント', "https://github.com/konishi333", class: "side_bar_content" %>
  </div>
</div>

<div class="copyright">
  © 2022 WordExperience
</div>