<% if user_signed_in? %>
  Word Point: <%= @word_point %>
<% elsif %>
  <%= @word_point %>
<% end %>
<br>

あなたの"ワード"
<% if user_signed_in? %>
  <%= link_to '登録ページ', new_user_word_path(current_user.id), class: "" %>
  <%= link_to '登録済のワード一覧', user_words_path(current_user.id), class: "" %>
<% elsif %>
  <%= link_to '登録ページ', user_session_path, class: "" %>
  <%= link_to '登録済のワード一覧', user_session_path, class: "" %>
<% end %>
<br>

みんなの"ワード"
<% if user_signed_in? %>
  <%= link_to '交換ページ', new_user_exchanged_word_path(current_user.id), class: "" %>
  <%= link_to '交換済のワード一覧', user_exchanged_words_path(current_user.id), class: "" %>
<% elsif %>
  <%= link_to '交換ページ', user_session_path, class: "" %>
  <%= link_to '交換済のワード一覧', user_session_path, class: "" %>
<% end %>
<br>

ユーザー情報
<% if user_signed_in? %>
  <%= link_to 'プロフィール', user_profiles_path(current_user.id), class: "" %>
  <%= link_to 'パスワード変更', root_path, class: "" %>
<% elsif %>
  <%= link_to 'プロフィール', user_session_path, class: "" %>
  <%= link_to 'パスワード変更', user_session_path, class: "" %>
<% end %>
<br>

その他
<li><a href="#" class="">利用規約</a></li>
<li><a href="#" class="">プライバシーポリシー</a></li>
<li><a href="#" class="">個人情報保護法</a></li>
