<%= form_with model: resource, as: resource_name, url: session_path(resource_name), local: true do |f| %>
<div class='login_screen'>
  <h1 class='word_theme'>
    ログインページ
  </h1>
  <div class='error-message'>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
  </div>
  <div class="user_info_form">
    <div class='user_info_form_title'>
      <label class="user_info_form_content">メールアドレス</label>
    </div>
    <%= f.email_field :email, class:"user_info_form_text_field", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
  </div>
  <div class="user_info_form">
    <div class='user_info_form_title'>
      <label class="">パスワード</label>
    </div>
    <%= f.password_field :password, class:"user_info_form_text_field", id:"password", placeholder:"" %>
  </div>
    <%= f.submit "ログイン" ,class:"user_info_btn", id:"orange_button" %>
  <div class="form-group">
    <p class='form-bottom-text'>※アカウント登録がお済みでない方は
      <%= link_to 'こちら', new_user_registration_path %>
      から新規登録してください。
    </p>
    <p class='form-bottom-text'>※トップページへ戻るには
      <%= link_to 'こちら', root_path %>
      をクリックしてください。
    </p>
  </div>
</div>
<% end %>