<div class="header">
  <%= render "shared/header" %>
</div>

<div class="split_main">
  <div class="side-bar">
    <%= render "shared/side_bar" %>
  </div>
  <div class="main_screen">
    <h3 class="word_theme">
      "ワード" 編集
    </h3>

    <div class="word_board">
      <div class="word_board_text">
        【注意点】
        <br>
        ・編集または削除する場合、"WordPoint"が必要になります。
        <br>
        　- 編集する場合： 15ポイント
        <br>
        　- 削除する場合： 25ポイント
        <br>
        ・"WordPoint"が足りない場合、編集・削除ができません。
      </div>
    </div>

    <div class="alert_message">
      <%= flash[:alert] %>
    </div>

    <%= form_with(model: @word, url: user_word_path(@word.user_id, @word),class: "word_edit_list", local: true) do |form| %>

      <%= render 'shared/error_messages', model: form.object %>

      <label class="word_edit_title">ワードの名称</label>
      <%= form.text_field :name, value: @word.name, class:"word_edit_field", maxlength: 30, placeholder:"4文字以上、30文字以下" %>
      <label class="word_edit_title">カテゴリ</label>
      <%= form.collection_select(:main_category_id, @main_category, :id, :name, options ={selected: @word.main_category_id}, {class:"word_edit_field", id:""}) %>
      <label class="word_edit_title">サービス</label>
      <%= form.collection_select(:service_category_id, @service_category, :id, :name, options ={selected: @word.service_category_id}, {class:"word_edit_field", id:""}) %>
      <label class="word_edit_title">登録日時（編集不可）</label>
      <%= form.text_field :created_at, readonly: true, disabled: true, value: @word.created_at.strftime('%Y/%m/%d %H:%M:%S'), class:"word_edit_field" %>
      <label class="word_edit_title">更新日時（編集不可）</label>
      <%= form.text_field :updated_at, readonly: true, disabled: true, value: @word.updated_at.strftime('%Y/%m/%d %H:%M:%S'), class:"word_edit_field" %>
      <%= form.submit '保存',class:"word_edit_save_button", id: "blue_button", data: { confirm: "このワードを更新します。更新してもよろしいですか。" } %>
    <% end %>

    <%= form_with(model: @word, url: user_word_path(@word.user_id, @word), class: "word_edit_delete", method: :delete, local: true) do |form| %>
      <%= form.submit '削除',
            class: "word_edit_delete_button",
            id:"gray_button",
            data: { confirm: "このワードを削除してもよろしいですか?削除した場合、他のユーザーもこのワードを確認できなくなります。" } %>
    <% end %>
  </div>
</div>