<%= javascript_include_tag 'copy_clipboard.js' %>
<div class="header">
  <%= render "shared/header" %>
</div>

<div class="split_main">
  <div class="side-bar">
    <%= render "shared/side_bar" %>
  </div>
  <div class="main_screen">
    <h3 class="word_theme">
      "ワード" 一覧
    </h3>

    <div class="word_board">
      <div class="word_board_text">
        【操作説明】
        <br>
        ・他のユーザーからの評価数を⭐️や❌から確認することができます。
        <br>
        ・ワードをクリックすると、クリップボードにワードがコピーされます。
        <br>
        　※HTTPSの通信ではない場合、コピー時にエラーが発生します。
        <br>
        ・サービスカテゴリをクリックすると、そのサービスへアクセスできます。
        <br>
        　※サービスカテゴリには、一部アクセスできない項目もあります。
        <br>
        　　その場合は、お手数ですが、手動でご対応をお願いいたします。
        <br>
        ・編集、削除したい場合、そのワードの編集ページへ移動してください。
      </div>
    </div>
    <%= form_with local: true do |form| %>
      <% @words.each do |word| %>
        <div class="word_list">
          <div class="reputation">
            <div class="word_reputation_star">
              ★
            </div>
            <div class="reputation_star_counter">
              <%= word.reputations.where(star_flag: true).count %>
            </div>
          </div>
          <div class="reputation">
            <div class="word_reputation_bad">
              ×
            </div>
            <div class="reputation_bad_counter">
              <%= word.reputations.where(bad_flag: true).count %>
            </div>
          </div>
          <%= form.text_field :name, readonly: true, value: word.name, class: "word_name" %>
          <% if @service_category.find(word.service_category_id).link == true %>
            <%= link_to @service_category.find(word.service_category_id).name, @service_category.find(word.service_category_id).url, class: "service_category", target: :_blank, rel: "noopener noreferrer" %>
          <% else %>
            <%= link_to @service_category.find(word.service_category_id).name, @service_category.find(word.service_category_id).url, class: "service_category" %>
          <% end %>
          <%= link_to '編集', edit_user_word_path(word.user_id,word), class: "word_button_edit" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>