<div class="header">
  <%= render "shared/header" %>
</div>

<div class="split_main">
  <div class="side-bar">
    <%= render "shared/side_bar" %>
  </div>
  <div class="main_screen">
    <h3 class="word_theme">
      "ワード" 投稿
    </h3>

    <div class="word_board">
      <div class="word_board_text">
        【操作説明】
        <br>
        ・投稿をすると、"WordPoint"が 200ポイント 手に入ります。
        <br>
        ・投稿時の注意点：
        <br>
        　①ワードは4文字以上、30文字以下で入力してください。
        <br>
        　②重複するワードは投稿できません。
        <br>
        　③カテゴリとサービスは必ず、1つずつ選択してください。
        <br>
        　④現在、エラーの詳細な情報を表示するための機能を実装できていません。
        <br>
        　　ご不便をおかけいたします。
      </div>
    </div>

    <div class="alert_message">
      <%= flash[:alert] %>
    </div>

    <%= form_with class: "word_new_list", model: @words, url: user_words_path, method: :post, local: true do |form| %>
      <%= render 'shared/error_messages', model: form.object %>
      <% @words.collection.each do |word| %>
        <%= fields_for 'words[]', word do |field| %>
          <div class="word_new_record">
            <%= field.text_field :name , class: "word_new_name", maxlength: 30, placeholder:"ワード(4文字以上、30文字以下)" %>
            <%= field.collection_select(:main_category_id, MainCategory.all, :id, :name, {}, {class:"word_new_category", id:"", placeholder:"例)3"}) %>
            <%= field.collection_select(:service_category_id, ServiceCategory.all, :id, :name, {}, {class:"word_new_category", id:""}) %>
          </div>
        <% end %>
      <% end %>
      <%= form.submit '投稿',
          class:"word_new_button_save",
          id:"blue_button",
          data: { confirm: "このワードを投稿します。更新してもよろしいですか。" } %>
    <% end %>

  </div>
</div>