<input id="header_display" type="checkbox" class="header_check_box">
<label for="header_display" class="header_open">▲</label>
<label for="header_display" class="header_back"></label>
<label for="sidebar_display" class="sidebar_open">◀︎</label>
<div class="header">
  <%= render "shared/header" %>
</div>

<div class="split_main">
  <input id="sidebar_display" type="checkbox" class="sidebar_check_box">
  <label for="sidebar_display" class="sidebar_back"></label>
  <div class="sidebar">
    <%= render "shared/side_bar" %>
  </div>
  <div class="main_screen">
    <h3 class="word_theme">
      このアプリについて
    </h3>

    <div class="about_board">
      <div class="about_board_text">
        <h3>管理人より、皆様へ👦</h3>
        <p>Word Experienceへアクセスいただき、ありがとうございます。</p>
        <p>このアプリケーションは、<b>”ワード”を投稿し、交換し合うアプリ</b>になります。</p>
        <p>交換した”ワード”をもとに、各種サービスで利用してもらい、<b>"新たな価値"</b>や<b>"新たな体験"</b>をしてもらうことを目的にしています。
        <p>ぜひ、みなさんが経験していること、あなたの価値観を”ワード”として、ご提供ください。</p>
        <p>そして他の方がどのような体験をしているかを、”ワード”を通じて体験してみてください。</p>
        <p>もしかすると、その"言葉"があなたの価値観を変えることがあるかもしれません。</p>
        <br>
        <p>現在、このアプリには、
          <b>
            <%= @user_num %>人
          </b>
          のユーザーがアカウント登録しており、ワードが
          <b>
            <%= @word_num %>個
          </b>
          登録されています。そしてワードが
          <b>
            <%= @exchanged_word_num %>個分
          </b>
          交換されています。
        </p>
        <br>
        <p>アプリの仕様などの詳細は
        <%= link_to "GitHub(外部サイト)", "https://github.com/konishi333/word_experience/blob/master/README.md", target: :_blank, rel: "noopener noreferrer" %>
        をご確認ください。</p>
      </div>
    </div>
  </div>
</div>