<input id="header_display" type="checkbox" class="header_check_box">
<label for="header_display" class="header_open">▲</label>
<label for="header_display" class="header_back"></label>
<label for="sidebar_display" class="sidebar_open">◀︎</label>
<div class="header">
  <%= render "shared/header" %>
</div>

<div class="split_main">
  <input id="sidebar_display" type="checkbox" class="sidebar_check_box">
  <label for="sidebar_display" class="sidebar_back"></label>
  <div class="sidebar">
    <%= render "shared/side_bar" %>
  </div>
  <div class="main_screen">
    <h3 class="word_theme">
      入力内容を確認してください
    </h3>

    <div class="word_board">
      <div class="word_board_text">
        【必ずお読みください】<br>
        ・入力した内容を再度ご確認の上、送信してください。<br>
        ・送信すると、管理人とあなたにメールが通達されます。<br>
        ・利用規約、プライバシーポリシー、個人情報保護法に同意したものとみなします。<br>
        ・お問い合わせ内容を編集をし直したい場合は、戻るボタンを押してください。
      </div>
    </div>

    <%# <div class="inquiry_form"> %>
      <%# <div class="inquiry_box"> %>
        <%# <label>お名前</label> %>
        <%# <%= @Inquiry.name %> 
        <%# <label>メールアドレス</label> %>
        <%# <%= @Inquiry.email %> 
        <%# <label>お問い合わせ内容</label> %>
        <%# <%= @Inquiry.detail %> 
      <%# </div> %>
    <%# </div> %>

    <%= form_with(model: @Inquiry,class: "inquiry_form", url: inquiries_path, local: true) do |form| %>
      <div class="inquiry_box">

        <label>お名前</label>
        <%= form.text_field :name, value: @Inquiry.name, class:"inquiry_text_field_confirm", readonly: true %>
        <label>メールアドレス</label>
        <%= form.email_field :email, value: @Inquiry.email, class:"inquiry_text_field_confirm", readonly: true %>
        <label>お問い合わせ内容</label>
        <%= form.text_area :detail, value: @Inquiry.detail, class:"inquiry_area_field_confirm", readonly: true %>
        <%= form.submit '送信',class:"inquiry_blue_button", id: "blue_button" %>
      </div>
    <% end %>

    <%= form_with(model: @Inquiry,class: "inquiry_form", url: back_inquiry_path, local: true) do |form| %>
      <%= form.text_field :name, value: @Inquiry.name, class:"inquiryt_object_hidden", readonly: true %>
      <%= form.email_field :email, value: @Inquiry.email, class:"inquiryt_object_hidden", readonly: true %>
      <%= form.text_area :detail, value: @Inquiry.detail, class:"inquiryt_object_hidden", readonly: true %>
      <%= form.submit '戻る',class:"inquiry_gray_btn", id: "gray_button" %>
    <% end %>
  
  </div>
</div>